\input{
<% if @project.is_book %>
<%= "preamble-book" %>
<% else %>
<%= "preamble" %>
<% end %>
}

\begin{document}

\title{
<%= @project.title %> 
}

\addcontentsline{toc}{chapter}{Preliminaries}
\frontmatter\addcontentsline{toc}{section}{Titlepage}
\author{
<%= titlepage_author_line %>
}
\maketitle

\phantomsection
\label{section-phantom}

\chapter*{Authors}\label{sec:authors}
\addcontentsline{toc}{section}{Authors}

The following people have contributed to this work: 
\\[2mm]
{\sc 
<% @project.authors.each do |author|%>
<%= author.full_name %>  
<% end %>
}

\chapter*{Copyright}\label{sec:copyright}
\addcontentsline{toc}{section}{Copyright}

{\textcopyright} 2016 The Fishing Project.  Permission is granted 
to copy, distribute and/or modify this document under the terms of the 
Creative Commons Attribution 4.0 International License or any later version
published by the Creative Commons Corporation (``Creative Commons'').
A copy of the license is included in the folder \texttt{license} and in
the section entitled \hyperref[lic:cc_by_4.0]{``Creative Commons Attribution 4.0 International License''}.

\tableofcontents
\addcontentsline{toc}{section}{Contents}

\mainmatter

\chapter{Differentiable Manifolds}\label{chpt:differentiable-manifolds}
\input{charts-atlases-manifolds}
\chapter{Lie theory}\label{chpt:lie-theory}
\input{lie-groups}
\chapter{Symplectic Geometry}\label{chpt:symplectic-geometry}
\input{symplectic-linear-algebra}
\chapter{Geometry of Poisson Manifolds}\label{chpt:geometry-poisson-manifolds}
\input{poisson-structures}

\input{groupoids}

\appendix
\chapter{Miscellanea from Linear Algebra}\label{chpt:miscellania-linear-algebra}
\input{bilinear-sesquilinear-forms}
\input{multilinear-algebra}

\bibliography{lisci_bib}
\bibliographystyle{amsalpha}

\end{document}
